.parent{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    justify-content:space-between ;
    align-items: start;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    height: 500px;
}
.child{
    border: 1px solid red;
    /* margin: 10px 10px; */
    height: 100px;
    min-width: 200px;
}
.child-1{
    flex-basis: 2;
}
span{
   
}
.center_box{
    border: 1px solid;
    /* height: 200px; */
    /* width: 200px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
body {
    background-color:white;
}
@media screen and (min-width: '500px') {
    body {
        background-color: red;
    }
}
@media only screen and (min-width: '500px') {
   
}